.App {
  text-align: center;
}

header {
  display: flex;
  height: 10vh;
  align-items: center;
  background-color: azure;
}

h1 {
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.route-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

input {
  width: 10vw;
}

select {
  width: 200px;
  height: 30px;
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.num-cantainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
  height: 10vh;
}
